div{
background-image: url(sac.jpg);
    text-align: center;
    width: 25%;
    margin-right: 60%;
    padding:50px;
    margin-left: 30%;
    border-radius: 20%;
}

.cs{
    font-weight: bolder;
    margin-bottom: 20%;
	
}

.pic{
    width: 150px;
    height:200px;
}
.pic1{
    width:150px;
    height: 200px;
}
.pic2{
    height: 170px;
    width: 170px;
    border-radius: 100px;
}

h1{
    color: navy;
}
h3{
    color:darkblue;
}
h2{
    color:red;
}
.test{

color:black;

}
.test1{

    color: black;
}
.colr8{
    color: black;

}